/* ---------- Classes used in multiple places ---------- */
.poster-fill {
    align-items: center;
    background: var(--footer-color);
    color: white;
    display: flex;
    justify-content: center;
    height: 278px;
    min-width: 185px;
}
.logo {
    color: var(--tf-red);
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 0.15em;
    text-shadow: 0 0 1rem black;
    user-select: none;
    z-index: 1;
}
button:disabled {
    cursor: not-allowed;
    color: grey;
}
.critical {
    color: var(--tf-red);
}
.error {
    color: orange;
}
.success {
    color: green;
}
/* ---------- Media Queries ---------- */
@media (max-width: 1200px) {
    .account-settings-icon {
        justify-self: end;
        padding-right: 2rem;
    }
    .logo {
        padding-left: 2rem;
    }
    .auth-form-logo {
        padding-left: 0;
    }
    .navbar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo account-settings-icon"
            "search-bar-nav search-bar-nav";
        padding: 1rem 0;
    }
    .search-bar-nav-form {
        animation: slideDown 0.2s ease;
        background-color: black;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 1rem;
    }
}
/* ---------- Keyframes ---------- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}