@font-face {
    font-family: 'NetflixSans';
    src: local('NetflixSans'), 
    url(./fonts/netflix-sans-font/NetflixSans-Regular.woff2) format('woff')
}

@font-face {
    font-family: 'NetflixSans-Bold';
    src: local('NetflixSans'),
    url(./fonts/netflix-sans-font/NetflixSans-Bold.woff2) format('woff')
}

@font-face {
    font-family: 'NetflixSans-Light';
    src: local('NetflixSans'),
    url(./fonts/netflix-sans-font/NetflixSans-Light.woff2) format('woff')
}

.poster-fill {
    align-items: center;
    background: var(--footer-color);
    color: white;
    display: flex;
    justify-content: center;
    height: 278px;
    min-width: 185px;
}