#home {
    padding-bottom: 2rem;
}
.home-backdrop {
    position: relative;
}
.home-backdrop-title {
    bottom: 0;
    color: white;
    display: flex;
    font-size: 1rem;
    margin: 1rem;
    position: absolute;
    right: 0;
    text-shadow: 0 0 10rem black;
    z-index: 1;
}
.home-backdrop-img {
    animation: fadeIn 4s ease;
    background-color: black;
    object-fit: contain;
    height: 80vh;
    width: 100%;
}

.home-backdrop-img-screen {
    background: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    width: 100%;
}
.section-title {
    color: white;
    margin: 2rem;
}
.movie-results {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
}
.movie-poster-container {
    position: relative;
}
.movie-poster {
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.movie-poster:hover {
    transform: scale(1.05);
}
.movie-poster-fill-title {
    background-color: rgba(0,0,0,0.2);
    color: white;
    opacity: 0;
    height: 100%;
    padding: 1rem;
    position: absolute;
    transition: opacity 0.2s;
    top: 0;
    width: 100%;
}
.movie-poster-fill-title:hover {
    opacity: 1;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.5;
    }
}