.home-backdrop {
    /* border: 1px solid green; */
    background-color: black;
    object-fit: contain;
    position: absolute;
    height: 80vh;
    width: 100%;
}

.section-title {
    color: white;
    margin: 2rem;
}

.search-results,
.popular-movies {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
}

.movie-poster {
    cursor: pointer;
    transition: transform 0.2s ease;
}
.movie-poster:hover {
    transform: scale(1.05);
}
