.navbar {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    transition: background-color 0.1s;
    width: 100%;
    z-index: 3;
}

.scrolled {
    background-color: black;
    transition: background-color 0.3s;
}

.account-settings-icon {
    background: none;
    border: none;
    cursor: pointer;
}