header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar {
    align-items: center;
    box-shadow: 0 0 2px 2px black;
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    padding: 2rem;
    transition: background-color 0.1s;
    width: 100%;
}

.logo {
    grid-area: logo;
}

.search-bar-nav {
    grid-area: search-bar-nav;
}

.scrolled {
    background-color: black;
    transition: background-color 0.3s;
}

.account-settings-icon {
    background: none;
    cursor: pointer;
    grid-area: account-settings-icon;
    transition: all 0.2s;
}