.browse-return {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
.browse-return:hover {
    text-decoration: underline;
}
.detail-title {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 2rem;
}
.section-title {
    position: relative;
    font-size: 1.75rem;
}
.trailer-container {
    display: flex;
    justify-content: center;
}
.info-container {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin: auto;
    width: 50%;
}
.info-overview {
    padding-bottom: 1rem;
}
.person-poster-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.person-poster-name {
    color: white;
    text-shadow: 0 0 2px black;
}