#details {
    padding-bottom: 2rem;
}
.trailer-wrapper {
    background-size: cover;
    position: relative;
    z-index: 1;
}
.trailer-backdrop {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.trailer-backdrop-screen {
    background: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.browse-return-container {
    padding: 2rem 0 0 2rem;
}
.browse-return {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.browse-return:hover {
    text-decoration: underline;
}
.details-title {
    color: white;
    font-size: 3rem;
    padding: 2rem;
}
.favorite-form {
    display: inline;
}
.star-container {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}
.star-container:hover > .bi-star-fill,
.star-container:hover > .bi-star {
    transform: scale(1.2);
}
.star-container:active > .bi-star-fill,
.star-container:active > .bi-star {
    transform: scale(1);
}
.bi-star,
.bi-star-fill {
    transition: all 0.2s ease;
}
.bi-star-fill {
    fill: orange;
}
.section-title {
    position: relative;
    font-size: 1.75rem;
}
.trailer-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.info-container {
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem;
    margin: auto;
    width: 50%;
}
.info-overview {
    padding-bottom: 1rem;
}
.person-poster-container {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    position: relative;
}
.person-poster-name {
    color: white;
    text-shadow: 0 0 2px black;
}

@media (max-width: 900px) {
    .info-container { 
        width: 80%;
    }
}

@media (max-width: 650px) {
    .info-container {
        width: 100%;
    }
}