#search {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.search-bar {
    animation: searchFadeIn 0.2s ease;
    background-color: rgba(51, 51, 51, 0.98);
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 5px 1px black;
    color: white;
    font-size: 1.2rem;
    height: 1rem;
    max-width: 800px;
    padding: 2rem;
    width: 100%;
}
.search-bar:focus {
    outline: none;
}
.search-bar::placeholder {
    color: rgba(146, 146, 146, 0.7);
}
.search-bar-nav {
    animation: fadeIn 0.2s ease;
    box-shadow: none;
}
.search-bar-nav-form {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    width: 100%;
}

@media (max-width: 1000px) {
    .search-bar {
        width: 90%;
    }
}