#register,
#login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}
.account-form-logo {
    position: absolute;
    margin: 2rem;
}
.account-form-logo-short {
    display: none;
}
.account-form {
    align-self: center;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 50%;
    max-width: 400px;
    min-height: 600px;
    width: 100%;
    z-index: 0;
}

.account-form-title {
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
}
.account-form-error {
    color: orange;
    font-style: italic;
    margin-bottom: 1rem;
}
.account-form-input {
    background-color: var(--input-bg);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.account-form-input-error,
.mismatch {
    border: 1px solid orange;
}
.account-form-label {
    color: white;
    margin-bottom: 0.5rem;
}
.account-form-input::placeholder {
    color: #8c8c8c;
}
.account-form-input:focus {
    background-color: var(--input-bg-active);
    outline: 1px solid grey;
}

.account-form-btn {
    background-color: var(--tf-red);
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
}
.account-form-btn:hover {
    background-color: var(--tf-red-hover);
}

.account-form-link {
    color: white;
    margin: auto;
    margin-top: 2rem;
}
.account-form-link:hover {
    text-decoration: underline;
}

@media (max-height: 750px) {
    .account-form-logo {
        display: none;
    }
    .account-form-logo-short {
        display: flex;
        justify-content: center;
    }
}