#register,
#login {
    display: flex;
    justify-content: center;
}

.account-form {
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    height: 85%;
    padding: 2rem;
    margin: auto;
    max-width: 400px;
    min-height: 600px;
    width: 100%;
}

.account-form-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem; 
    margin-top: 7rem;
}

.account-form-input {
    background-color: var(--input-bg);
    border: none;
    border-radius: 0.25rem;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}
.account-form-input::placeholder {
    color: #8c8c8c;
}
.account-form-input:focus {
    background-color: var(--input-bg-active);
    outline: none;
}

.account-form-btn {
    background-color: var(--tf-red);
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
}

.account-form-link {
    color: white;
    margin: auto;
    margin-top: 2rem;
    text-decoration: none;
}
.account-form-link:hover {
    text-decoration: underline;
}