#register,
#login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}
.auth-page {
    min-height: 100vh;
}
.auth-form-logo {
    text-align: center;
}
.auth-form {
    align-self: center;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 2px 2px black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 50%;
    max-width: 400px;
    min-height: 600px;
    width: 100%;
    z-index: 0;
}

.auth-form-title {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    margin: 2rem 0;
}
.auth-form-error {
    color: orange;
    font-style: italic;
    margin-bottom: 1rem;
}
.auth-form-input {
    background-color: var(--input-bg);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.auth-form-input-error,
.mismatch {
    border: 1px solid orange;
}
.auth-form-label {
    color: white;
    margin-bottom: 0.5rem;
}
.auth-form-input::placeholder {
    color: #8c8c8c;
}
.auth-form-input:focus {
    background-color: var(--input-bg-active);
    outline: 1px solid grey;
}

.auth-form-btn {
    background-color: var(--tf-red);
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
}
.auth-form-btn:hover {
    background-color: var(--tf-red-hover);
}

.auth-form-link {
    color: white;
    margin: auto;
    margin-top: 2rem;
}
.auth-form-link:hover {
    text-decoration: underline;
}