.change-email {
    animation: fadeIn 0.2s ease;
    min-height: 80vh;
    padding: 2rem;
}
.change-email-title {
    color: white;
    font-size: 2rem;
}
.change-email-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    width: 400px;
}
.change-email-form-msg {
    animation: fadeIn 0.5s ease;
    margin-top: 1rem;
}
.change-email-form-row {
    display: grid;
    margin: 1rem 0;
}
.change-email-label {
    color: white;
    padding-bottom: 0.5rem;
}
.change-email-input {
    background-color: var(--input-bg);
    border-radius: 0.2rem;
    border: none;
    color: white;
    font-size: 1rem;
    outline-color: transparent;
    padding: 0.8rem;
}
.change-email-form-btn {
    background-color: orange;
    border-radius: 0.2rem;
    color: white;
    align-self: center;
    border: none;
    padding: 0.5rem;
    transition: all 0.2s;
    width: 40%;
}
.change-email-form-btn:hover {
    transform: scale(1.05);
}
.change-email-form-btn:active {
    transform: scale(1);
}