#auth-form-backdrop {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.auth-form-backdrop-img {
    height: 402px;
    width: 250px;
}

.auth-form-backdrop-screen {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    position: absolute;
    width: 100%;
}