#account {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.account-details {
    width: 80%;
}
.account-details h1 {
    border-bottom: 1px solid var(--tf-gray);
    font-weight: normal;
    padding-bottom: 1.5rem;
}
.account-page {
    animation: fadeIn 0.2s ease;
    min-height: 78vh;
    padding: 2rem;
}
.account-page-title {
    color: white;
    font-size: 2rem;
}
.account-page-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
}
.account-page-form-msg {
    animation: fadeIn 0.5s ease;
    margin-top: 1rem;
}
.account-page-form-row {
    display: grid;
    margin: 1rem 0;
}
.account-page-form-label {
    color: white;
    padding-bottom: 0.5rem;
}
.account-page-form-input {
    background-color: var(--input-bg);
    border-radius: 0.2rem;
    border: none;
    color: white;
    font-size: 1rem;
    outline-color: transparent;
    padding: 0.8rem;
}
.account-detail {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
    width: 75%;
}
.reset-link {
    color: var(--tf-blue);
    text-decoration: none;
}
.reset-link:hover {
    text-decoration: underline;
}
.btn-account-page {
    background: none;
    border: 1px solid var(--tf-red);
    border-radius: 0.2rem;
    color: var(--tf-red);
    padding: 0.8rem;
    transition: background-color 0.1s, color 0.1s;
}
.btn-account-page:hover {
    background-color: var(--tf-red);
    color: white;
}
.btn-account-page-submit {
    background: orange;
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0.8rem;
}
.btn-account-page-submit:disabled {
    background: hsl(39, 100%, 20%);
}
.link-delete-account {
    margin-left: 1rem;
    text-decoration: none;
}
